.navegador
{
    background-color: lightgrey; 
    text-align: right;
    border: 2px solid black;
    width: 600px;
    height: 60px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;

    padding-top: 5px;

    /*
    margin: 50px 100px 50px 100px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
    margin-left: 100px;
    */
}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
.anclas
{
    text-decoration: none;
    color: black;
    font-family: 'Dancing Script', cursive;    
    margin-right: 10px;
}

.sec
{
    width: 800px;
    height: 400px;
    background-color: antiquewhite; 
    margin: auto;
    margin-top: 50px;
}