body{background-color: lightgrey; font-family: 'Dancing Script', cursive;}
header{background-color: gray; font-family: 'Dancing Script', cursive;}
nav{color: white;}

div p{font-family: Georgia, 'Times New Roman', Times, serif;}

#inicio{font-family: 'Dancing Script', cursive;}

img{width: 200px; height: 200px;}

#logo{width: 400px; height: 400px;}