/**{background-color: red;}*/

body{background-color: blueviolet;}
h1{background-color: white; color: aqua;}
#div1{background-color: blue;color: yellow;}
#div2{background-color: pink; color:  white;}
.TextoDestacado{color: green;}